#accordion-panel-slider_real_s .accordion-section-title
{
	font-weight: 500 !important;
	    font-size: 12px !important;
	    color: #212121;
	    padding-left: 40px;
}
#accordion-panel-slider_real_s > .accordion-section-title::before
{
	content: "\f007";
	color: #0085ba;
    font-family: 'FontAwesome';
    font-weight: normal !important;
    font-size: 14px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    width: 40px;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}