// COLORES BOOTSTRAP
$primary:       #05344a;
$secondary:     #25a5de;
$success:       #6f42c1;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #252525;

// TEMA
$principal      : $primary;
$secundario     : $secondary;
$blanco         : #ffffff;
$gris           : #BEBEC0;
$negro          : $dark;

// FUENTES
$font_main      : 'Montserrat', sans-serif;
$font_size      :16px;

$danger : #0DA179;
